<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>CFBundleName</key>
<string>zesarux</string>
<key>CFBundleDisplayName</key>
<string>ZEsarUX</string>
<key>CFBundleVersion</key>
<string>8.1</string>
<key>CFBundleIdentifier</key>
<string>com.cesarhernandez.zesarux</string>
<key>CFBundlePackageType</key>
<string>APPL</string>
<key>CFBundleSignature</key>
<string>zeux</string>
<key>CFBundleExecutable</key>
<string>zesarux.sh</string>
<key>CFBundleIconFile</key>
<string>zesarux.icns</string>
<key>NSFileProviderDomainUsageDescription</key>
<string></string>
<key>NSFileProviderPresenceUsageDescription</key>
<string></string>
<key>NSDesktopFolderUsageDescription</key>
<string></string>
<key>NSDocumentsFolderUsageDescription</key>
<string>to be able to load user documents</string>
<key>NSDownloadsFolderUsageDescription</key>
<string>to be able to load user documents</string>
</dict>
</plist>

